
.pageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #15121C;
    min-height: 100vh;
}

.headLine {
    color: white;
}
